form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
input[type="submit"] {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 3rem;
}